{% load static %}

<section class="menu-lateral">
    <nav class="menu-lateral__navegacao">
        {% if request.resolver_match.url_name == "index" %}
            <a class='menu-selecionado' href="{% url 'index' %}"><img src='{% static "/assets/ícones/1x/Home - ativo.png" %}'> Home</a>   
        {% else %}
            <a href="{% url 'index' %}"><img src='{% static "/assets/ícones/1x/Home - inativo.png" %}'> Home</a>
        {% endif %}
        
        {% if not request.user.is_authenticated %}
            {% if request.resolver_match.url_name == "login" %}
                <a href="{% url 'login' %}"><img src='{% static "/assets/ícones/1x/Mais vistas - ativo.png" %}'> Login</a>
            {% else %}
                <a href="{% url 'login' %}"><img src='{% static "/assets/ícones/1x/Mais vistas - inativo.png" %}'> Login</a>
            {% endif %}
            {% if request.resolver_match.url_name == "cadastro" %}
                <a href="{% url 'cadastro' %}"><img src='{% static "/assets/ícones/1x/Novas - ativo.png" %}'> Cadastro</a>
            {% else %}
                <a href="{% url 'cadastro' %}"><img src='{% static "/assets/ícones/1x/Novas - inativo.png" %}'> Cadastro</a>
            {% endif %}
        {% else %}
            {% if request.resolver_match.url_name == "nova_imagem" %}
                <a href="{% url 'nova_imagem' %}"><img src='{% static "/assets/ícones/1x/Novas - ativo.png" %}'> Nova Imagem</a>
            {% else %}
                <a href="{% url 'nova_imagem' %}"><img src='{% static "/assets/ícones/1x/Novas - inativo.png" %}'> Nova Imagem</a>
            {% endif %}
            <a href="{% url 'logout' %}"><img src='{% static "/assets/ícones/1x/Surpreenda-me - inativo.png" %}'> Sair</a>
        {% endif %}
        
    </nav>
</section>