{% extends "galeria/base.html" %}
{% load static %}

{% block content %}
    <section class="conteudo">
        <section class="banner">
            <img class="banner__imagem" src='{% static "/assets/imagens/Banner(2).png" %}' alt="banner">
            <h1 class="banner__titulo"> A galeria mais completa de fotos do espaço!</h1>
        </section>
        <section class="tags">
            <p class="tags__titulo">Busque por tags:</p>
            <ul class="tags__lista">
                <li class="tags__tag"><a href="{% url 'filtro' 'NEBULOSA' %}" style="color: #C9C9C9; text-decoration: none;">Nebulosa</a></li>
                <li class="tags__tag"><a href="{% url 'filtro' 'ESTRELA' %}" style="color: #C9C9C9; text-decoration: none;">Estrela</a></li>
                <li class="tags__tag"><a href="{% url 'filtro' 'GALÁXIA' %}" style="color: #C9C9C9; text-decoration: none;">Galáxia</a></li>
                <li class="tags__tag"><a href="{% url 'filtro' 'PLANETA' %}" style="color: #C9C9C9; text-decoration: none;">Planeta</a></li>
            </ul>
        </section>
        <section class="galeria">
            <div class="cards">
                <h2 class="cards__titulo">Navegue pela galeria</h2>
                <ul class="cards__lista">
                    {% for card in cards %}
                    <li class="card">
                        <a href="{% url 'imagem' card.id %}">
                            {% if card.foto == "" or card.foto == null %}
                            <img class="card__imagem" src='{% static "/assets/imagens/galeria/not-found.png" %}' alt="foto">
                            {% else %}
                            <img class="card__imagem" src='{{ card.foto.url }}' alt="foto">
                            {% endif %}
                        </a>
                        <span class="card__tag">{{card.categoria}}</span>
                        <div class="card__info">
                            <p class="card__titulo">{{card.nome}}</p>
                            <div class="card__texto">
                                <p class="card__descricao">{{card.legenda}}</p>
                                <span>
                                    <img src='{% static "/assets/ícones/1x/favorite_outline.png" %}' alt="ícone de coração">
                                </span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </section>
{% endblock content %}